<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3Qpg1y_A1wCwAvWR9U2ITtATiI2lIXX8</string>
	<key>GCM_SENDER_ID</key>
	<string>316987962943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amazonClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-fcf53</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fcf53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316987962943:ios:42024a6de22981fab2ea8a</string>
</dict>
</plist>